---
layout: main.njk
css: component.css
---
<main>
	<h2>{{title}}</h2>
	<p>{{description}}</p>
	<template id="component">
		{{content | safe}}
	</template>

	<!-- Source Code Section -->
	{% highlight "html" %}
	{{ content | safe }}
	{% endhighlight %}
	<section id="display-content"></section>
	<script>
	(() => {
		const documentData = document.getElementById('component').content;
		const contentContainer = document.getElementById('display-content');
		const shadow = contentContainer.attachShadow({mode: 'closed'});

		shadow.appendChild(documentData.cloneNode(true));
	})();
	</script>
</main>
