---
title: Dark Mode
description: Enable page-wide dark Mode
image: darkMode.png
---
<style>
/* 
For accessability, makes checkbox 
selectable by tabbing/screenreaders 
*/
input[type=checkbox].toggle {
	opacity: 0;
	height: 1px;
	margin: 0;
	padding: 0;

	display: block;
}

/* Outline label when checkbox is selected */
input[type=checkbox].toggle:focus ~ label.toggle span.slider {
	outline: black dotted 1px;
}

label.toggle span.slider {
	/* So that we can position the toggle dot */
	position: relative;

	display: block;
	width: 1.5em;
	height: 0.75em;
	padding: 0.25em;

	/* Behave like input */
	cursor: pointer;

	/* Make it rounded */
	border-radius: 0.75em;

	background-color: grey;

	transition: background-color 0.5s ease-in-out;
}

/* Slider Knob */
label.toggle span.slider:before {
	content: '';

	margin: 0;
	display: block;
	height: 0.75em;
	width: 0.75em;
	border-radius: 0.5em;

	background: white;

	transition: margin 0.5s ease-in-out;
}

/* When the box is checked change the appearance */
input[type=checkbox].toggle:checked ~ label.toggle span.slider {
	background-color: #428bff;
}
input[type=checkbox].toggle:checked ~ label.toggle span.slider:before {
	margin-left: 0.75em;
}
</style>
<input class="toggle" tabindex="0" id="darkmode" name="darkmode" type="checkbox">
<!-- Label will be used as the content -->
<label for="darkmode" class="toggle">
	Dark Mode:
	<span class="slider"></span>
</label>
<main>
	
</main>